version: "3.9"
services:
  app:
    build: .
    container_name: java-web-app
    ports:
      - "8082:8082"
    environment:
      SPRING_DATA_MONGODB_URI: "mongodb://mongo:27017/mydatabase"
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
